<h1 class="dash1">{{room.roomtitle}}</h1>

    <div class="disroompic">
        <img src="/uploads/{{room.roompic}}"></img>
    </div>

    <div class="dislocation">
        <p>{{room.location}}</p>
    </div>

    <div class="dispostalcode">
        <p>{{room.postalcode}}</p>
    </div>

    <div class="disrules">
        <p>{{room.rules}}</p>
    </div>

    <div class="disdesc">
        <p>{{room.desc}}</p> 
    </div>

    <div class="disprice">
        <p>{{room.price}}</p>
    </div>