<h1 class="roomtitle"> Available Rooms </h1>

{{!-- <div class="roomcontainer">
  <div class="row1">
    <div class="room1">
      <a href=""><img class="rmimg" src="images/room1.jpg"></a>
      <br>
      Sunny apartment near metro station.
      <br>
      Entire apartment - 2 Beds
      <br>
      $80 CAD/night
    </div>
    <div class="room2">
      <a href=""><img class="rmimg" src="images/room2.jpg"></a>
      <br>
      Penthouse, 4-5 rooms + 5 balconies
      <br>
      Entire apartment - 7 Beds
      <br>
      $365 CAD/night
    </div>
    <div class="room3">
      <a href=""><img class="rmimg" src="images/room3.jpg"></a>
      <br>
      Minsk Belarus Studio in historical
      <br>
      Entire apartment - 1 Bed
      <br>
      $60 CAD/night
    </div>
  </div>
  <div class="row2">
    <div class="room4">
      <a href=""></a><img class="rmimg" src="images/room4.jpg"></a>
      <br>
      'Silo Studio' Cottage
      <br>
      Entire guesthouse - 1 Bed
      <br>
      $299 CAD/night
    </div>
    <div class="room5">
      <a href=""><img class="rmimg" src="images/room5.jpg"></a>
      <br>
      Skylit Loft in Old Montreal
      <br>
      Entire loft - 1 Bed
      <br>
      $122 CAD/night
    </div>
    <div class="room6">
      <a href=""><img class="rmimg" src="images/room6.jpg"></a>
      <br>
      Holiday in Toscany in the Strettoio
      <br>
      Entire apartment - 1 Bed
      <br>
      $122 CAD/night
    </div>
  </div>
</div> --}}

<section class="displayrooms">
  <div class="disrooms">
  {{#each rooms}}
    <div class="disroom">
      <a href="/roomdisplay/{{this._id}}"><img class="rmimg" src="uploads/{{this.roompic}}"></a>
      <br>
      {{this.roomtitle}}
      <br>
      {{this.location}}
      <br>
      ${{this.price}}CAD/night
      <br>
      {{#if ../user.admin}}
      <a href="/user/edit/{{this._id}}" class="editlink">Edit the Room</a>
      {{else}}
      <a href="/user/booking/{{this._id}}" class="editlink">Book this Room</a>
      {{/if}}
    </div>
  {{/each}}
  </div>
</section>