<h1 class="roomtitle"> Available Rooms </h1>
<br>
<section class="displayrooms">
  <div class="disrooms">
  {{#each rooms}}
    <div class="disroom">
      <a href="/roomdisplay/{{this._id}}"><img class="rmimg" src="uploads/{{this.roompic}}"></a>
      <br>
      {{this.roomtitle}}
      <br>
      {{this.location}}
      <br>
      ${{this.price}}CAD/night
      <br>
      {{#if ../user.admin}}
      <a href="/user/edit/{{this._id}}" class="editlink">Edit the Room</a>
      {{else}}
      <a href="/user/booking/{{this._id}}" class="editlink">Book this Room</a>
      {{/if}}
    </div>
  {{/each}}
  </div>
</section>