<h1 class="dash1">{{room.roomtitle}}</h1>
    <div class="roomdisplay">
    <div class="disroompic">
        <img class="pictureofrm" src="/uploads/{{room.roompic}}"></img>
    </div>
    <br>
    <div class="dislocation">
        <p>City:<br>
         {{room.location}}</p>
    </div>

    <div class="dispostalcode">
        <p>Postal Code or Zip Code:<br>
         {{room.postalcode}}</p>
    </div>

    <div class="disrules">
        <p>Rules:<br>
         {{room.rules}}</p>
    </div>

    <div class="disdesc">
        <p>Description:<br>
        {{room.desc}}</p> 
    </div>

    <div class="disprice">
        <p>${{room.price}}CAD/night</p>
    </div>
    </div>